:root {
    --background: #082369;
    --foreground: #ebebeb;
    --middleground: #2B4994;
    --large: 1.3em;
    --medium: 0.7em;
    --small: 0.5em;
    --xsmall: 0.15em;
}




* {
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 2em;

    scrollbar-width: thin;
    scrollbar-color: var(--foreground) var(--background);
}

html::-webkit-scrollbar {
    background-color: var(--background);
    width: var(--medium);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
}

::selection,
:focus-visible {
    background-color: var(--foreground);
    color: var(--background);
}

:focus-visible {
    /* Windows high-contrast themes override transparency */
    outline: var(--xsmall) solid transparent;
}




a {
    color: var(--foreground);
    font-weight: bold;
    text-decoration: none;
}

a,
summary {
    transition: opacity 0.1s;
}

a:hover,
summary:hover,
.dim {
    opacity: 0.6;
}

main a,
footer a {
    border-bottom: var(--xsmall) solid var(--foreground);
}

section > a {
    margin-right: var(--small);
    border: var(--xsmall) solid var(--foreground);
    padding: var(--small);
}

main a:visited {
    border-color: var(--middleground);
}




body {
    width: 100vw;
    display: flex;
        justify-content: center;
    overflow-x: hidden;
}

body > div {
    width: 70vw;
    margin: var(--large) 0;
    padding: var(--large);
}




h1:after {
    /* Don't want this to be an actual "_": screen readers read CSS-inserted content */
    content: "";
    display: inline-block;
    position: relative;
        top: var(--xsmall);
        left: calc(var(--xsmall) / 2);
    width: var(--small);
    border-bottom: calc(var(--xsmall) / 2) solid var(--foreground);
    animation: blink 1s 5;
}

h3 {
    margin: calc(var(--large) * 2) 0 var(--large) 0;
}

h3,
.contentWrapper {
    border-top: var(--xsmall) solid var(--foreground);
}




nav {
    display: flex;
        flex-direction: column;
    margin-right: var(--large);
    padding-right: var(--large);
    padding-top: var(--medium);
    border-right: var(--xsmall) solid var(--foreground);
}

nav a {
    display: flex;
        flex-flow: row nowrap;
    margin: var(--medium) 0;
}

nav a svg {
    margin-right: 0.3em;
    align-self: center;
}




.contentWrapper {
    width: 100%;
    display: flex;
        flex-direction: row;
    margin: var(--large) 0;
}

main {
    width: 100%;
    padding: 0 var(--medium);
}

details,
main p,
ul,
h2 {
    margin: var(--large) 0;
}

details {
    background-color: var(--middleground);
    padding: var(--medium) var(--large);
}

summary {
    cursor: pointer;
}

hr {
    display: none;
}

ul {
    padding-left: var(--large);
    list-style: square;
}

ul.noStyle {
    list-style: none;
    padding-left: 0;
}

li {
    margin: var(--medium) 0;
}

progress {
    height: var(--small);
    vertical-align: middle;
    margin-right: var(--medium);
    background-color: var(--middleground);
    color: var(--foreground);
    border: none;
}

progress::-webkit-progress-bar {
    background-color: var(--middleground);
}

progress::-webkit-progress-value {
    background-color: var(--foreground);
}

progress::-moz-progress-bar {
    background-color: var(--foreground);
}




footer {
    font-size: x-small;
    line-height: 1.5em;
}




@keyframes blink {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 100%;
    }
  }

@media (max-width: 700px) {

    .contentWrapper {
        flex-direction: column;
        align-items: center;
    }

    body > div { 
        width: 90%;
    }

    nav {
        flex-direction: row;
            justify-content: space-between;
        width: 100%;
        margin-right: 0;
        padding: var(--medium) 0;
        border: none;
        flex-wrap: wrap;
    }

    nav * {
        font-size: smaller;
    }

    nav a {
        margin: 0 var(--xsmall);
    }
}