/*
CONTENTS

1. global
2. layout
    2.1 header, nav
3. text
    3.1 links
4. interaction
5. components
6. animation
7. desktop media query
*/


/*////////////////////////////////// GLOBAL /////////////////////////////////*/

:root {
    --background: #14171b;
    --foreground: #d8dde3;
    --middleground: #90c1e615;
    --accent: #90c1e6;
    --large: 1.2rem;
    --medium: 0.7rem;
    --small: 0.5rem;
    --xsmall: 0.15rem;
    --margin: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Roboto', 'Arial', sans-serif;
    line-height: 2em;

    scrollbar-width: thin;
    scrollbar-color: var(--foreground) var(--background);
}

html::-webkit-scrollbar {
    background-color: var(--background);
    width: var(--medium);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--foreground);
}

/*////////////////////////////////// LAYOUT //////////////////////////////////*/

.contentWrapper {
    border-top: var(--xsmall) solid var(--foreground);
}

main {
    padding-bottom: var(--medium);
    width: 100%;
}

footer {
    margin-bottom: var(--margin);
    padding-top: var(--large);
    border-top: var(--xsmall) solid var(--foreground);
    font-size: 0.8em;
    line-height: 1.5em;
}

.co2 {
    display: flex;
        justify-content: space-between;
        /* align-items:flex-end; */
    margin-top: var(--large);
}

.co2 svg {
    width: 3em;
    margin-left: var(--large);
    order: 1;
}

/************ header, nav ************/

header {
    margin: var(--large) 0;
}

h1:after {
    /* Don't want this to be an actual "_": screen readers read CSS-inserted content */
    content: "";
    display: inline-block;
    position: relative;
        top: var(--xsmall);
        left: var(--xsmall);
    width: var(--large);
    border-bottom: var(--xsmall) solid var(--foreground);
    animation: blink 1s 5;
}

nav {
    display: flex;
            justify-content: space-between;
        border-bottom: var(--xsmall) solid var(--foreground);
        flex-wrap: wrap;
    user-select: none;
    padding: 0 var(--medium);
}

/*/////////////////////////////////// TEXT ///////////////////////////////////*/

main > *,
section > *,
footer > *,
h1 {
    margin: 0 var(--margin);
}

section,
picture {
    margin: 0;
}

h2,
h3,
main > h4 {
    padding-left: var(--margin);
}

main > p,
section > p,
ul {
    margin-bottom: var(--large);
}

code,
kbd {
    background-color: var(--middleground);
    padding: 0.2em 0.3em;
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 2.2em;
}

h3 {
    padding-top: var(--large);
    font-size: 1.7em;
}

h4 {
    font-size: 1.5em;
    margin: var(--large) 0;
}

h4.noMargin {
    margin-bottom: 0;
}

h3 {
    border-top: var(--xsmall) solid var(--foreground);
}

main h2,
main h3 {
    margin: calc(var(--large) * 2) 0 var(--large) 0;
}

hr {
    display: none;
}

ul {
    padding-left: var(--large);
    list-style: square;
}

ul.noStyle {
    list-style: none;
    padding-left: 0;
}

li {
    margin: var(--medium) 0;
}

li::marker {
    color: var(--accent);
}

/************ links ************/

main a,
footer a {
    border-bottom: var(--xsmall) solid var(--accent);
    color: var(--accent);
}

a {
    color: var(--foreground);
    font-weight: bold;
    text-decoration: none;
}

nav a {
    display: flex;
        flex-flow: row nowrap;
    margin: var(--medium) 0;
}

nav a svg {
    margin-right: var(--small);
    align-self: center;
}

section > a {
    display: inline-block;
    margin: 0 0 calc(var(--large) * 2) var(--large);
    border: var(--xsmall) solid var(--foreground);
    padding: var(--xsmall) var(--medium);
}

/*/////////////////////////////// INTERACTION ///////////////////////////////*/

a:hover,
summary:hover,
:focus {
    opacity: 0.5;
}

::selection,
:focus-visible {
    background-color: var(--accent);
    color: var(--background);
    opacity: 1;
}           

summary {
    cursor: pointer;
}

a,
summary {
    transition: opacity 150ms;
}

/*//////////////////////////////// COMPONENTS ////////////////////////////////*/

svg {
    fill: currentColor;
}

.skills svg {
    height: 1.5em;
    margin-right: 0.3em;
    vertical-align: middle;
}

svg.hello {
    height: 1.2em;
    vertical-align:text-bottom;
}

img {
    width: 100%;
    margin-bottom: var(--large);
    border-top: var(--xsmall) solid var(--foreground);
    border-bottom: var(--xsmall) solid var(--foreground);
}

progress {
    height: var(--small);
    vertical-align: middle;
    margin-right: var(--medium);
    background-color: var(--middleground);
    color: var(--accent);
    border: none;
}

progress::-webkit-progress-bar {
    background-color: var(--middleground);
}

progress::-webkit-progress-value {
    background-color: var(--accent);
}

progress::-moz-progress-bar {
    background-color: var(--accent);
}

.dim {
    opacity: 0.5;
}

/*//////////////////////////////// ANIMATION /////////////////////////////////*/

@keyframes blink {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 100%;
    }
}

/*/////////////////////////// DESKTOP MEDIA QUERY ///////////////////////////*/

@media (min-width: 45rem) {
    :root {
        --margin: 2rem;
    }

    header {
        margin-top: var(--margin);
    }

    body > div {
        width: 65%;
        min-width: 45rem;
        margin: 0 auto;
    }

    h1,
    footer > * {
        margin-left: 0;
    }

    .contentWrapper {
        display: flex;
            flex-direction: row;
        margin: var(--large) 0 0 0;
    }

    nav {
        border-bottom: none;
        flex-direction: column;
            justify-content: flex-start;
        padding-right: var(--large);
        padding-top: var(--medium);
        border-right: var(--xsmall) solid var(--foreground);
    }

    nav a svg {
        margin-right: var(--medium);
    }

    footer {
        display: flex;
            justify-content: space-between;
    }

    .skills {
        display: flex;
            justify-content: space-evenly;
    }

    .co2 {
        text-align: right;
        margin: 0;
    }

    picture,
    img {
        margin: var(--medium) 0;
    }

    img {
        border-right: var(--xsmall) solid var(--foreground);
    }

    section > a:first-of-type {
        margin-left: var(--margin);
    }
}